body {font-size: .875rem;}
.feather {
	width: 16px;
	height: 16px;
	vertical-align: text-bottom;
}
.sidebar {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 100;
	padding: 48px 0 0; 
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}
@media (max-width: 767.98px){
.sidebar {top: 5rem;}
}
.sidebar-sticky {
	position: relative;
	top: 0;
	height: calc(100vh - 48px);
	padding-top: .5rem;
	overflow-x: hidden;
	overflow-y: auto;
}
@supports ((position: -webkit-sticky) or (position: sticky)) {
	.sidebar-sticky {
		position: -webkit-sticky;
		position: sticky;
	}
}
.sidebar .nav-link {
	font-weight: 500;
	color: #333;
	}
.sidebar .nav-link .feather {
margin-right: 4px;
color: #999;
}
.sidebar .nav-link.active {color: #007bff;}
.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {color: inherit;}
.sidebar-heading {
	font-size: .75rem;
	text-transform: uppercase;
}
.navbar-brand {
	padding-top: .75rem;
	padding-bottom: .75rem;
	font-size: 1rem;
	background-color: rgba(0, 0, 0, .25);
	box-shadow: inset -1px 0 0 rgba(0, 0, 0, .25);
}
.navbar .navbar-toggler {
	top: .25rem;
	right: 1rem;
}
.navbar .form-control {
	padding: .75rem 1rem;
	border-width: 0;
	border-radius: 0;
}
.form-control-dark {
	color: #fff;
	background-color: rgba(255, 255, 255, .1);
	border-color: rgba(255, 255, 255, .1);
}
.form-control-dark:focus {
	border-color: transparent;
	box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
.dropbtn {
	background-color: #4CAF50;
	color: white;
	padding: 12px;
	font-size: 16px;
	border: none;
	cursor: pointer;
}
.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 100%;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}
.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1}
.dropdown:hover .dropdown-content {display: block;}
.dropdown:hover .dropbtn {background-color: #3e8e41;}
.div-top{
	left: 0;
	width: 100%;
}
.box{
	color: black;
	padding: 20px;
	display: none;
	margin-top: 20px;
}
main{
	position: relative;
	top: 100px;
}
.order-card{color: #fff;}
.bg-c-blue {background: linear-gradient(45deg,#4099ff,#73b4ff);}
.bg-c-green {background: linear-gradient(45deg,#2ed8b6,#59e0c5);}
.bg-c-yellow {background: linear-gradient(45deg,#FFB64D,#ffcb80);}
.bg-c-pink {background: linear-gradient(45deg,#FF5370,#ff869a);}
.card {
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
	box-shadow: 0 1px 2.94px 0.06px rgba(4,26,55,0.16);
	border: none;
	margin-bottom: 30px;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.card .card-block {padding: 25px;}
.order-card i {font-size: 26px;}
.f-left {float: left;}
.f-right {float: right;}
.zoom {transition: transform .1s;}
.zoom:hover {transform: scale(1.1);}